/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~react-input-range/lib/css/index.css';

:root {
  --main-bg-color: #2d2a2e;
  --main-white: #fcfcfa;
  --purple: #ab9df2;
  --dark-purple: #9286cf;
  --yellow: #ffd866;
}

body {
  position: relative;
  height: 100vh;
  font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Lucida Grande';
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-white);
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
