.input-range__track .input-range__track--active {
  background-color: var(--purple);
}

.input-range__slider {
  background: var(--purple);
  border: 1px solid var(--purple);
}

.input-range--disabled .input-range__track {
  background: #ccc;
}

.input-range__label--max,
.input-range__label--min {
  display: none;
}
