.MuiChip-root.MuiChip-root,
.MuiChip-clickable:focus.MuiChip-clickable:focus {
  transition: all 0.1s ease-out;
  background-color: transparent;
  border: 1px solid #707070;
  color: unset;
}

.MuiChip-clickable:hover.MuiChip-clickable:hover {
  background-color: var(--dark-purple);
  filter: brightness(90%);
}

.MuiChip-outlined.MuiChip-outlined,
.MuiChip-clickable.MuiChip-clickable.MuiChip-outlined:focus {
  background-color: var(--dark-purple);
}
