.fileContainer {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.playPauseContainer {
  height: 25px;
  width: 25px;
  margin: 0 5px 0;
}

.playPauseContainer svg {
  height: 100%;
  width: 100%;
}

.playPauseContainer path {
  fill: var(--main-white);
}
