.filterContainer {
  max-width: 400px;
}

.filterContainer > div {
  padding: 0 0 25px;
}

.filterContainer * {
  transition: all 0.1s ease-out;
}

.disabledFilter {
  color: #ccc;
}

.bpmInputRange {
  display: flex;
  align-items: flex-end;
  height: 35px;
}

.filterLabel {
  height: 50px;
  display: flex;
  align-items: center;
}

.filterLabel h3 {
  margin-right: 12px;
}

.keySelected {
  color: red;
}
